.main-header {
    height: 30vh;
    background-image: url(/assets/img/Zyrl-Background.png);
    background-position: center center;
    background-size: cover;

}

.black {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
}

.header-text {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    
    font-family: PT Serif;
    
    color: black;
    text-align: center;
}

.header-title {
    margin-top: 10;
    
    font-size: 5em;
}

.header-subtitle {
    font-size: 3.4em;
}

@media (max-width: 480px) {
    .header-title {
        font-size: 2em;
    }
    
    .header-subtitle {
        font-size: 1em;
    }
}

.navbar {
    margin-bottom: 0;
    border: none;
    
    background-color: transparent;
}

.navbar a {
    color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

footer {
    padding: 2em;
    
    text-align: center;
    font-size: 1.2em;
}


.container {
    max-width: 60em;
}

section {
    padding: 100px 0;
    
    color: #fff;
}

.section-title {
    margin-top: 0;
    padding-bottom: 50px;
    
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.section-content {
    font-size: 1.4em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

#about-section {
    min-height: 600px;
    background-color: #FFFFFF;
    color: black;
    
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot {
    width: 100%;
    border: 5px solid #fff;
}

@media (max-width: 480px) {
    .about-wrapper {
        display: block;
    }
    
    .about-wrapper div:first-child {
        text-align: center;
    }
    
    .headshot {
        width: 50%;
        margin-bottom: 25px;
    }
}

#writing-section {
    min-height: 400px;
    
    
    background-image: url(/assets/img/Space_1.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment:fixed;
}

.post-preview {
    margin: 50px 0;
}

.post-preview-title {
    font-family: 'Montserrat', sans-serif;
}

.post-preview:first-child {
    margin-top: 0;
}

.post-preview:last-child {
    margin-bottom: 0;
}

.section-content a {
    color: #fff;
}

.section-content a:hover {
    text-decoration: underline;
}


#contact-section {
    background-color: #99edff;
}

.contact-input {
    padding: 25px;
    margin: 25px 0;
}

.contact-input:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

.contact-submit {
    padding: 15px;
    width: 200px;
}

.contact-notification {
    display: none;
    margin-bottom: 0;
}

@media (max-width: 480px) {
    .contact-input {
        margin: 25px 0;
    }
    
    .contact-input:first-child {
        margin-top: 25px;
    }
    
    .contact-submit {
        margin-left: 0;
        width: 100%;
    }
}

.button-wrapper {
    text-align: center;
}
